# Projeto Análise de Dados e Análise Exploratória de Dados

#### Questões do projeto

1 - Usando os dados dessa base de dados, você irá:

    a - Importe os dados em notebook e atribua à variável chipo.
    
    b - Selecione e mostre as 10 primeiras entradas.

    c - Quantas observações estão presentes neste DataSet?

    d - Qual o número de colunas neste DataSet?

    e - Qual o nome de todas as colunas deste DataSet?

    f - Qual o produto mais pedido? Quantas vezes ele foi pedido?

    g - Qual foi o pedido mais pedido dentro da coluna choice_description?

    h - Quantos itens foram pedidos no total?

    i - Qual foi o valor recebido para o período representado nessa base de dados?

    j - Qual a média do valor recebido por pedido?
    
    k - Quantos itens diferentes estão esgotados?

    l - Quantos produtos custam mais de $10?

    m - Qual o preço para cada um deles?

    n - Ordene os itens que custam mais de $10 por ordem alfabética.

    o - Quantas vezes o item mais caro foi pedido?
    
    p - Quantas vezes uma Veggie Salad Bowl foi pedida?

    q - Crie um histograma com os 5 produtos mais pedidos.

    r - Crie um gráfico de espalhamento onde em um eixo está o número de vezes que um pedido foi realizado e no outro eixo está o preço do produto.
    
    s - Baseado no gráfico gerado, os dois eixos estão correlacionados? Justifique.

#### Importanto bibliotecas

In [153]:
import pandas as pd
import numpy as np

#### Importando dados

In [154]:
url = ('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv')

In [155]:
# 1.a  - Importe os dados em notebook e atribua à variável chipo.

chipo = pd.read_table(url)

In [156]:
# 1.b - Selecione e mostre as 10 primeiras entradas.

chipo[0:10]

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

In [157]:
# 1.c - Quantas observações estão presentes neste DataSet?

chipo.shape[0]

4622

In [158]:
# 1.d - Qual o número de colunas neste DataSet?

chipo.shape[1]

5

In [159]:
# 1.e - Qual o nome de todas as colunas deste DataSet?

chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [160]:
# 1.c 1.d 1.e

chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [161]:
# 1.f - Qual o produto mais pedido? Quantas vezes ele foi pedido?

chipo.groupby('item_name')['quantity'].sum().sort_values(ascending= False)

item_name
Chicken Bowl                             761
Chicken Burrito                          591
Chips and Guacamole                      506
Steak Burrito                            386
Canned Soft Drink                        351
Chips                                    230
Steak Bowl                               221
Bottled Water                            211
Chips and Fresh Tomato Salsa             130
Canned Soda                              126
Chicken Salad Bowl                       123
Chicken Soft Tacos                       120
Side of Chips                            110
Veggie Burrito                            97
Barbacoa Burrito                          91
Veggie Bowl                               87
Carnitas Bowl                             71
Barbacoa Bowl                             66
Carnitas Burrito                          60
Steak Soft Tacos                          56
6 Pack Soft Drink                         55
Chips and Tomatillo Red Chili Salsa       50
Chicken Crispy Tacos                      50
Chips and Tomatillo Green Chili Salsa     45
Carnitas Soft Tacos                       40
Steak Crispy Tacos                        36
Chips and Tomatillo-Green Chili Salsa     33
Steak Salad Bowl                          31
Nantucket Nectar                          29
Chips and Tomatillo-Red Chili Salsa       25
Barbacoa Soft Tacos                       25
Chips and Roasted Chili Corn Salsa        23
Izze                                      20
Veggie Salad Bowl                         18
Chips and Roasted Chili-Corn Salsa        18
Barbacoa Crispy Tacos                     12
Barbacoa Salad Bowl                       10
Chicken Salad                              9
Carnitas Crispy Tacos                      8
Veggie Soft Tacos                          8
Burrito                                    6
Veggie Salad                               6
Carnitas Salad Bowl                        6
Bowl                                       4
Steak Salad                                4
Salad                                      2
Crispy Tacos                               2
Chips and Mild Fresh Tomato Salsa          1
Carnitas Salad                             1
Veggie Crispy Tacos                        1
Name: quantity, dtype: int64

In [162]:
chipo['choice_description'][4]

'[Tomatillo-Red Chili Salsa (Hot), [Black Beans, Rice, Cheese, Sour Cream]]'

In [163]:
# filtrando valores nulos

chipo_not_null = chipo[chipo['choice_description'].notnull()]

chipo_not_null

,order_id,quantity,item_name,choice_description,item_price
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [164]:
# 1.g - Qual foi o pedido mais pedido dentro da coluna choice_description?

c_d = []
for a in chipo_not_null['choice_description']:
    a = a.replace('[','')
    a = a.replace(']','')
    a = a.split(',')
    for b in a:
        b = b.strip().lower()
        c_d.append(b)

q1_f = pd.DataFrame(c_d)
q1_f.groupby(0)[0].count().sort_values(ascending= False)

0
rice                                    2389
cheese                                  2281
lettuce                                 1742
sour cream                              1711
black beans                             1342
fresh tomato salsa                      1046
guacamole                               1037
fajita vegetables                        722
pinto beans                              582
roasted chili corn salsa                 457
fresh tomato salsa (mild)                351
tomatillo red chili salsa                325
fajita veggies                           302
roasted chili corn salsa (medium)        270
tomatillo-red chili salsa (hot)          259
tomatillo green chili salsa              230
diet coke                                134
tomatillo-green chili salsa (medium)     128
coke                                     123
sprite                                    77
lemonade                                  33
fresh tomato (mild)                       31
coca cola                                 26
nestea                                    20
dr. pepper                                18
mountain dew                              15
diet dr. pepper                           13
clementine                                 8
peach orange                               8
pineapple orange banana                    8
blackberry                                 8
cilantro-lime rice                         7
apple                                      6
salsa                                      6
adobo-marinated and grilled chicken        5
pomegranate cherry                         5
white rice                                 5
adobo-marinated and grilled steak          4
grapefruit                                 4
roasted chili corn (medium)                3
tomatillo red chili (hot)                  3
vegetarian black beans                     3
tomatillo green chili (medium)             2
brown rice                                 2
braised barbacoa                           2
braised carnitas                           1
Name: 0, dtype: int64

In [165]:
# 1.h - Quantos itens foram pedidos no total?

chipo['quantity'].sum()

4972

In [166]:
# 1.i - Qual foi o valor recebido para o período representado nessa base de dados?

In [167]:
def f_item_price(valor):
    valor = float(valor.replace('$',''))
    return valor

In [168]:
# alterando preço do dataframe principal

chipo['item_price'] = chipo['item_price'].apply(lambda x: f_item_price(x))

In [169]:
# Descobrindo somatório dos valores

chipo['item_price'].sum()

34500.16

In [170]:
# 1.j - Qual a média do valor recebido por pedido?

mean_ordem = chipo.groupby('order_id')['item_price'].mean()

mean_ordem.mean()

7.841910975496616

In [171]:
# 1.k - Quantos itens diferentes estão esgotados?

# Não dá para responder esta questão.

In [172]:
# 1.l - Quantos produtos custam mais de $10?

In [173]:
# adicionando nova coluna de preço unitário do item

chipo = chipo.assign(unit_item_price = lambda x : x['item_price'] / x['quantity'])

In [184]:
chipo_10 = chipo[chipo['unit_item_price'] > 10][['item_name','unit_item_price']]

chipo_10['unit_item_price'].count()

1034

In [185]:
# 1.m - Qual o preço para cada um deles?

chipo_10

               item_name  unit_item_price
5           Chicken Bowl            10.98
7          Steak Burrito            11.75
13          Chicken Bowl            11.25
23       Chicken Burrito            10.98
39         Barbacoa Bowl            11.75
...                  ...              ...
4610       Steak Burrito            11.75
4611      Veggie Burrito            11.25
4617       Steak Burrito            11.75
4618       Steak Burrito            11.75
4619  Chicken Salad Bowl            11.25

[1034 rows x 2 columns]

In [194]:
# 1.n - Ordene os itens que custam mais de $10 por ordem alfabética.

chipo_10['item_name'].sort_values(ascending= True)

1175        Barbacoa Bowl
2013        Barbacoa Bowl
2073        Barbacoa Bowl
4485        Barbacoa Bowl
471         Barbacoa Bowl
              ...
1884    Veggie Salad Bowl
4261    Veggie Salad Bowl
295     Veggie Salad Bowl
738     Veggie Soft Tacos
1699    Veggie Soft Tacos
Name: item_name, Length: 1034, dtype: object

In [ ]:
# 1.o - Quantas vezes o item mais caro foi pedido?