### List 1 Charles SQL

In [1]:
import sqlite3
engine = sqlite3.connect('sqlcharles.db')

In [2]:
cursor = engine.cursor()

cursor.execute("PRAGMA foreign_keys = ON").fetchall()

[]

In [3]:
# Creating variable of the person table

person_table = '''CREATE TABLE IF NOT EXISTS Person (
                                        PersonId integer PRIMARY KEY,
                                        FirstName text NOT NULL,
                                        MiddleInitial text,
                                        LastName text,
                                        DateOfBirth text
                                    );'''

In [4]:
# Executing the command to create the table

cursor.execute(person_table)

In [5]:
# Checking if the person table was created

cursor.execute('PRAGMA TABLE_INFO(Person)').fetchall()

[(0, 'PersonId', 'INTEGER', 0, None, 1),
 (1, 'FirstName', 'TEXT', 1, None, 0),
 (2, 'MiddleInitial', 'TEXT', 0, None, 0),
 (3, 'LastName', 'TEXT', 0, None, 0),
 (4, 'DateOfBirth', 'TEXT', 0, None, 0)]

In [6]:
# Creating variable of the course table

course_table = '''CREATE TABLE IF NOT EXISTS Course (
                                        CourseId integer PRIMARY KEY,
                                        Name text NOT NULL,
                                        Teacher text NOT NULL
                                    );'''

In [7]:
# Executing the command to create the table

cursor.execute(course_table)

In [8]:
# Checking if the course table was created

cursor.execute('PRAGMA TABLE_INFO(Course)').fetchall()

[(0, 'CourseId', 'INTEGER', 0, None, 1),
 (1, 'Name', 'TEXT', 1, None, 0),
 (2, 'Teacher', 'TEXT', 1, None, 0)]

In [9]:
# Creating variable of the student table

student_table = """CREATE TABLE IF NOT EXISTS Student (
                                    StudentId integer PRIMARY KEY,
                                    Email text NOT NULL,
                                    PersonId integer NOT NULL REFERENCES Person (PersonId)
                                );"""
#FOREIGN KEY (PersonId) REFERENCES Person (PersonId)

In [10]:
# Executing the command to create the table

cursor.execute(student_table)

In [11]:
# Checking if the student table was created

cursor.execute('PRAGMA TABLE_INFO(Student)').fetchall()

[(0, 'StudentId', 'INTEGER', 0, None, 1),
 (1, 'Email', 'TEXT', 1, None, 0),
 (2, 'PersonId', 'INTEGER', 1, None, 0)]

In [12]:
# Creating variable of the credit table

credit_table = """CREATE TABLE IF NOT EXISTS Credit (
                                    StudentId integer NOT NULL REFERENCES Student (StudentId),
                                    CourseId integer NOT NULL REFERENCES Course (CourseId),
                                    Grade text NOT NULL,
                                    Attempt integer NOT NULL
                                );"""
#FOREIGN KEY (StudentId) REFERENCES Student (StudentId)
#FOREIGN KEY (CourseId) REFERENCES Course (CourseId)

In [13]:
# Executing the command to create the table

cursor.execute(credit_table)

In [14]:
# Checking if the student table was created

cursor.execute('PRAGMA TABLE_INFO(Credit)').fetchall()

[(0, 'StudentId', 'INTEGER', 1, None, 0),
 (1, 'CourseId', 'INTEGER', 1, None, 0),
 (2, 'Grade', 'TEXT', 1, None, 0),
 (3, 'Attempt', 'INTEGER', 1, None, 0)]

In [26]:
# Uploading the data to the table person

person_path = 'C:/Users/Gabriel-PC/Bootcamp-Data-science/Personal/SQL e Python/PraticaSQL/SamplePersonData.txt'

with open (person_path, 'r') as file:
    for line in file :
        values = line.strip().split(',')
        command = f'''INSERT INTO Person
                                (PersonId,FirstName,MiddleInitial,LastName,DateOfBirth)
                                VALUES ({values[0]},{values[1]},{values[2]},{values[3]},{values[4]})
                                ;'''
        # cursor.execute(command)
    print(command)
    
    # engine.commit()

INSERT INTO Person
                                (PersonId,FirstName,MiddleInitial,LastName,DateOfBirth)
                                VALUES (1000,Caroline,G,Baker,1986-04-19)
                                ;